* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.listBox{
    margin-left: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 45px;
}
.listBox,h1{
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 35px;
}
#form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input{
    width: 400px;
    height: 35px;
    font-size: 30px;
}
#textBox{
    display: flex;
    gap: 660px;
}

#text_target{
    margin-top: 20px;
}
.textArea{
    width: 1000px;
    height: 800px;
    display: flex;
    border: 1px solid black;
}
.listForEl{
    list-style-type: none;
}
.listBoxArea{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.buttons{
    height: 30px;
    font-size: 20px;

}
.buttonsDiv{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#buttonDelete{
    margin-top: 10px;
}