* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.listBox{
    margin: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 35px;
}
#form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input{
    width: 200px;
    height: 35px;
    font-size: 30px;
}
#textBox{
    display: flex;
    gap: 410px;
}

#text_target{
    margin-top: 20px;
}
.textArea{
    width: 550px;
    height: 600px;
    display: flex;
    border: 1px solid black;
}
.listBoxArea{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.buttons{
    height: 30px;
    font-size: 20px;

}
.buttonsDiv{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#buttonDelete{
    margin-top: 10px;
}