@media screen and (max-width: 768px) {
    .listBox {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    input {
        font-size: 16px;
    }

    .listElements {
        font-size: 16px;
    }

    .buttonsDiv {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #buttonDelete{
        margin-top: 0;
    }
}